
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
     /*#table {
         width: 122px;
         margin-top: 22%;
         margin-left: 37%;
     }

    #Rec_th{
            padding-left: 26%;
    }*/

     #table_payRecjv a, #table_payRecjv {
         margin: 15px;
     }
</style>

<div class="row text-center">
    <div class="col-md-12"><img src="~/Content/img/mima-constructionLogo.png" /></div>

</div>
<div class="row text-center" id="table_payRecjv">
    <div class="col-md-4 col-sm-12">

        <a href="@Url.Action("Index", "BankLG")" class="btn btn-info btn-lg" role="button">Bank GL</a>

    </div>
    <div class="col-md-4 col-sm-12">
        <a href="@Url.Action("Usp_APLG", "BankLG")" class="btn btn-info btn-lg" role="button">General Ledger</a>

    </div>
    <div class="col-md-4 col-sm-12">
        <a href="@Url.Action("Usp_ProjectLG", "BankLG")" class="btn btn-info btn-lg" role="button" style="width:135px">Project GL</a>
    </div>


</div>





