@model IEnumerable<WebApplication1.Models.Usp_APGL_Result>
@{

    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AP GL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>


    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>






    @*devextreme*@
    <script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.1.3/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.1.3/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/20.1.3/js/dx.all.js"></script>
    @*devextreme*@



    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/AjaxHelper.js"></script>
    <script src="~/Scripts/ChartsHelper.js"></script>


    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <style>
          .loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url(../Content/5.gif) 50% 50% no-repeat rgb(249,249,249);
    display: block;
     opacity: 0.4; 
    background-color: rgba(255, 255, 255, 0.57);
    z-index: 1000001;
}

    </style>
</head>
<body style="background-color:#add8e6">

    <div class="container">
        <div class="loader"></div>
        <div class="row">
            <div class="col-md-12">

                @{
                    Html.RenderPartial("~/Views/Shared/navBar.cshtml");
                }

                <h3 style="text-align:center">General Ledger</h3>
                

                <button class="BtnEdit openpopup" id="0">Filter</button>


                <div id="BankList">

                    @{
                        Html.RenderPartial("~/Views/BankLG/Usp_APLG_.cshtml");
                    }

                </div>

            </div>

        </div>

    </div>
    <div id="ModelPop">

        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add Vendor</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form action="/action_page.php">
                            <div class="form-group">
                                <label for="sDate">Start Date</label>
                                <input type="date" class="form-control" id="SDate">
                            </div>
                            <div class="form-group">
                                <label for="Edate">End Date:</label>
                                <input type="date" class="form-control" id="EDate">
                            </div>


                            <div class="form-group">
                                <label for="sel1">Vendor:</label>
                                <select class="form-control" id="Banks">

                                    @foreach (var item in ViewBag.Paid_To)
                                    {
                                        <option value="@item.Paid_ID">@item.Paid_To1</option>

                                    }
                                </select>
                            </div>
                            <button type="button" class="btn btn-primary" id="filter">Search</button>
                        </form>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <script>
                    $(document).ready(function () {
                        $("#BankList").hide();
                        $(".loader").show();


                        $.ajax({
                            type: "POST",
                            url: "/BankLG/spCall",
                            datatype: "JSON",
                            data: null,
                            async: false,
                            success: function (d) {
                                debugger;
                                $(".loader").hide();
                                $("#BankList").show();
                                Datatable()
                            },

                            error: function (error) {
                                debugger;
                                console.log(error);
                            }
                        });
                       

                       // Datatable();
                        $(".openpopup").click(function () {
                            $("#myModal").modal("show");

                        })


                        $("#filter").click(function () {
                            debugger;

                            var objforcontroller = {};
                            objforcontroller.startDate = $.trim($("#SDate").val());
                            objforcontroller.endDate = $.trim($("#EDate").val());
                            objforcontroller.id = $.trim($("#Banks option:selected").val());
                            objforcontroller.type = 2;
                            debugger;
                            var async = false;
                            var dataType = "JSON";
                            var postType = "POST";
                            var Controller = "BankLG";
                            var Method = "FilterData"


                                $.ajax({
                                    type: postType,
                                    url: "/" + Controller + "/" + Method,
                                    datatype: dataType,
                                    data: objforcontroller,
                                    async:async,
                                    success: function (d) {
                                        debugger;
                                        $("#BankList").html(d);
                                        $("#myModal").modal("hide");
                                        Datatable()
                                    },

                                    error: function (error) {
                                        debugger;
                                        console.log(error);
                                    }
                                });

                            //------//




                    })
                    })
                    function Datatable() {

                        $('#myTable').DataTable({
                            dom: 'Bfrtip',
                            buttons: [
                                'csv', 'excel', 'pdf'
                            ]
                        });
                    }
    </script>

</body>
</html>






